* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Arial, sans-serif;
  background: url('../assests/slide1.jpg') no-repeat center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(0, 0, 0, 0.65);
  padding: 50px;
  border-radius: 20px;
  width: 360px;
  backdrop-filter: blur(5px);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px

}

.input-wrap {
  position: relative
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input::placeholder {
  color: #eee
}

.show-pass {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #BC6C25;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #DDA15E
}

p {
  margin-top: 15px;
  font-size: 14px
}

p a {
  color: #DDA15E;
  text-decoration: none
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s;
}

.alert.show {
  opacity: 1;
}

.btn {
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.btn:hover {
  background: white;
  color: #000;
}